<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Innehåll i nedanstående rad ges av specifika html-filer -->
    <title>{% block title %}Flask Template Inheritance{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/products">Products</a>
      </nav>
    </header>
    <!-- Innehåll i nedanstående rad ges av specifika html-filer -->
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; 2025 My Flask Site</p>
    </footer>
  </body>

</html>
